.navbar{
    display: flex;
    /* flex-direction: column; */
    justify-content:flex-end;
    gap: 1rem;
}
.signIn{
    width: 5rem;
    height: 2rem;
    font-family: "Inter";
    border-radius:5px;
    border: 1px solid #7B34D4 ;
    color: #7B34D4;
    cursor: pointer;
}
.signUp{
    width: 5rem;
    height: 2rem;
    border: 1px solid #7B34D4 ;
    border-radius: 5px;
    font-family: "Inter";
    color: #FFFFFF;
    cursor: pointer;
    background-color: #7B34D4;
}
