.navbar{
    display: flex;
    /* flex-direction: column; */
    justify-content:flex-end;
    gap: 1rem;
}
.signIn{
    width: 5rem;
    height: 2rem;
    border-radius:5px;
    border: 1px solid #7B34D4 ;
    color: #7B34D4;
    cursor: pointer;
}
.signUp{
    width: 5rem;
    height: 2rem;
    border: 1px solid #7B34D4 ;
    border-radius: 5px;
    color: #7B34D4;
    cursor: pointer;
}
.signIn:hover{
    background-color: #7B34D4;
    /* border: 2px solid; */
    border-radius: 5px;
    color: white;

}
.signUp:hover{
    background-color: #7B34D4;
    color: white;

}