
.pricing-container{
     margin:  100px 20px;
     width: 100%;
}

.pricing-heading {
  text-align: center;
  margin-top:4px;
  margin-bottom: 20px;
}

.pricing-heading h1{
  margin-top:0;
  font-family: "Inter";
  font-weight: 700;
}
.description01 {
  margin-top: 10px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  line-height: 21px;
}
.description02{
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  line-height: 21px;
}
.plan-type {
  display: flex !important;
  text-align: center !important;
  justify-content: center !important;
  margin-top: 2rem;
}
/* .plans {
  display: flex !important;
  width: 32rem;
  text-align: center !important;
  justify-content: center !important;
  background-color: #e6e6e6;
  border-radius: 0.5rem;
} */
.plans {
  display: flex;
  justify-content: space-around;
  background-color: #e6e6e6;
  border-radius: 8px;
  padding: 10px;
}

.tab {
  padding: 12px 20px;
  text-align: center;
  cursor: pointer;
  color: #1A1A1A;
  font-family: "Inter" !important;
  font-weight: 400 !important;
  font-size: 1rem;
  border-radius: 8px;
}

.tab.active {
  background-color: white; /* Change background color to white */
  color: #1A1A1A; /* Change text color to indicate selection */
}

.no-plans {
  margin-top: 15rem;
}

.pricing-plans {
      margin: 1rem 40px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
      gap: 1.5rem;
    
}

.pricing-plan {
  margin-top: 1rem;
  width: 20rem;
  padding: 10px 10px 10px 20px;
  display: grid;
  grid-template-rows: subgrid;
  gap: 1rem;
  grid-row: span 2;
  text-align: center;

}

.pricing-plan:hover {
  transform: scale(1.05); /* Enlarge the card on hover */
  border: 1px solid #7b35d4; /* Set border */
  border-radius: 0.5rem;
}
.features {
  list-style-type: none; /* Remove default list item marker */
  padding: 0; /* Remove default padding */
}

.feature-list {
  font-family: "Inter"; /* Use Inter font */
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 8px; /* Add margin between features */
}

.feature-list::before {
  content: "\2713"; /* Unicode character for checkmark */
  margin-right: 8px; /* Add spacing between checkmark and text */
  color:#56C5D5 ;
}

.subscribe {
  font-family: "Inter" !important;
  font-weight: 600 !important;
  background: linear-gradient(90deg, #7b34d4 0%, #54ced6 100%);
}


@media screen and (min-width: 290px) and (max-width: 600px) {
  .pricing-heading {
    font-family: "Inter" !important;
    margin-top: 1rem;
  }
  .description01 {
    margin-left: 1rem;
  }
  .plans {
    background-color: #e6e6e6;
  }
  .tab {
    /* padding: 10px 20px; */
    padding: 5px 5px; /* Adjust padding */
    font-size: 12px;
  }
  .pricing-plans {
    margin-left: -2rem !important;
  }

}

@media screen and (max-width: 285px){
.pricing-plans {
    margin-left: -1rem !important;
}
.tab {
  /* padding: 10px 20px; */
  padding: 4px 4px 2px 2px; /* Adjust padding */
  font-size: 10px;
}
}