.inter-title-description {
  font-family: "Inter";
  font-optical-sizing: 56px;
  font-weight: 900;
  font-style: normal;
}
.pricing-heading {
  text-align: center;
}
.pricing-heading h1{
  margin-top: 0;
  font-family: "Inter";
  font-weight: 1000;
}
.title-description {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  margin-top: 0;
}
.plan-type {
  display: flex !important;
  text-align: center !important;
  justify-content: center !important;
}
.plans {
  display: flex !important;
  /* width: 35rem; */
  text-align: center !important;
  justify-content: center !important;
  background-color: #e6e6e6;
  border-radius: 0.5rem;
}
.no-plans {
  margin-top: 15rem;
}
.monthly {
  margin: 3px !important;
  cursor: pointer;
  /* justify-content: center; */
  font-family: "Inter" !important;
  font-weight: 600 !important;
  font-size: 16px;
  padding: 5px 5px !important;
  text-transform: none !important;
}
.annually {
  margin: 3px !important;
  cursor: pointer;
  font-family: "Inter" !important;
  font-weight: 600 !important;
  padding: 5px 5px !important;
  font-size: 16px;
  text-transform: none !important;
}
.quarterly {
  margin: 3px !important;
  cursor: pointer;
  font-family: "Inter" !important;
  padding: 5px 5px !important;
  font-weight: 600 !important;
  font-size: 16px;
  text-transform: none !important;
}
.half-yearly {
  margin: 3px !important;
  /* margin-top: 0.4rem; */
  cursor: pointer;
  font-family: "Inter" !important;
  padding: 5px 5px !important;
  font-weight: 600 !important;
  font-size: 16px;
  text-transform: none !important;
}
.selected {
  background: #ffffff !important;
  border-radius: 0.3rem !important;
  cursor: pointer;
  /* font-family: "Inter" !important;
  padding: 5px 5px !important;
  font-weight: 600 !important;
  font-size: 16px;
  text-transform: none !important; */
}
.pricing-plans {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.pricing-plan {
  margin-top: 2rem;
  width: 20rem;
  margin-left: 2rem;
  position: relative; /*Add position relative*/
}

.pricing-plan:hover {
  transform: scale(1.05); /* Enlarge the card on hover */
  border: 1px solid #7b35d4; /* Set border */
  border-radius: 0.5rem;
}
.feature {
}
.subscribe {
  font-family: "Inter" !important;
  font-weight: 600 !important;
  background: linear-gradient(90deg, #7b34d4 0%, #54ced6 100%);
}
@media screen and (max-width: 600px) {
  .pricing-heading {
    font-family: "Inter" !important;
    margin-top: 1rem;
  }
  .title-description {
    margin-left: 1rem;
  }
  .plan-type {

  }
  .plans {
    background-color: #e6e6e6;
  }
  .monthly {
    width: 0 !important;
    margin: 0.5px !important;
    font-size: small !important;
  }
  .annually {
    width: 0 !important;
    margin: 0.5px !important;
    font-size: small !important;
  }
  .half-yearly {
    width: 0 !important;
    margin: 0.5px !important;
    font-size: small !important;
  }
  .quarterly {
    width: 0 !important;
    margin: 0.5px !important;
    font-size: small !important;
  }
  .selected {
    margin: 2px !important;
  }
  .pricing-plans {
    margin-left: -1rem !important;
  }
}
