.signup-card {
  width: 26rem;
  justify-content: center !important;

}

.signup {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.cardTitle {
  font-family: "Inter" !important;
  text-align: center;
  font-weight: 900 !important;
  font-size: 30px !important;
}
.sub-Title {
  font-family: "Inter" !important;
  text-align: center;
  color: #667085;
  font-weight: 400 !important;
}
.input-card{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* text-align: center; */
    /* width: 18rem; */
    margin-top: 1rem;
}
.phone-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 20rem; */
  /* margin-left: 3rem; */
}
.phone-card p {
  font-family: "Inter";
  font-weight: 500 !important;
  font-size: 13px !important;
}
.email-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 20rem; */
    /* margin-left: 3rem; */
}
.email-card p{
    font-family: "Inter";
    font-weight: 500 !important;
    font-size: 13px !important;
}
.password-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 20rem; */
    /* margin-left: 3rem; */
}
.password-card p{
    font-family: "Inter";
    font-weight: 500 !important;
    font-size: 13px !important;
}
.signup-button{
    font-family: "Inter" !important;
    font-weight: 600 !important;
    text-transform: none !important;
    padding: 7px 35px !important;
    background: linear-gradient(90deg, #7B35D4 0%, #55CAD6 100%);
}
.button-card{
    /* margin-top: 1rem; */
    display: flex;
    justify-content: center;
    /* padding: 7rem; */
    /* margin-bottom: 1rem; */
    margin-top: 0.5rem;
}
.last-option{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
@media screen and (max-width: 390px) {
    .input-card{
        /* margin-left: 2rem; */
    }
    .signup {
      margin-top: 5rem;
    }
    /* .email-card{
        margin-left: 1.2rem;
    }
    .password-card{
        margin-left: 1.2rem;
    }  */
}