
.usecasessection{
  width: 100%;
  margin: 50px 0;
}

.usecaseswrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:3rem;
  padding: 0px 15px;

}

.usecaseswrapper h2{
    text-align: center;
    font-weight: 600;
    font-size: 2.18rem;
    font-family: "Inter";
}


.grid-container {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(46vw, 1fr));
        gap: 3rem;
  }
  
  .grid-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:3rem;

  }
  
  .grid-item:nth-child(odd) .content {
    order: 1;
  }
  
  .grid-item:nth-child(even) .image {
    order: 1;
  }
  
  .image {
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image img {
    width: 90%;
    height: 44vh;
    box-shadow: 7px 8px 10px #ccc;
    border-radius: 8px;
  }
  
      .content{
          padding:  0px 50px;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          gap: 1.2rem;
      }


      .content h2{
          text-align: left;
          color: #24292e;
          font-size: 1.89rem;
          font-weight: 600;
        
      }

      .content p{
          font-size: 1.56rem;
          color: #62686f;
          line-height: 1.8rem;
      }










  @media (max-width: 768px) {

      .grid-item {
        grid-template-columns: 1fr;
      }


  }