body {
  background-image: url(../src/component/pricing/Home.png);
  background-size: cover;
  background-repeat: no-repeat;

}

@media screen and (max-width: 600px) {
  body{
    background-image: url(../src/component/pricing/mobileHome1.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom:5rem;
  }}

/* @media screen and (max-width: 600px) {
  body{
    background-image: url(../src/component/mobileHome1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; 
    width: 95vw;
  }} */
  